<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="css/pro.css?embed" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="vendor/ionicons/css/ionicons.css" />
    <style>
        /**{font-family: "SimHei";color: rgb( 49, 49, 49 );}*/
        
        [data-lazy] {
            display: block;
            margin: 10px auto;
            height: 120px;
            width: 240px;
            border: 1px solid #eee; 
        }

        a:active{
            opacity: 50%;
        }
    </style>
</head>
<body class="ui-app">