<% include layoutTop %>

<style type="text/css">
	@font-face{
		font-family: "Zektonn" ;
		src:url("/font/zektonbo.ttf") format("truetype");
	}
	#title{
		font-family: "Zektonn" ;
	}
</style>
<h1 id="title">心愿FM</h1>
<div id="img-box" data-role="page">
	<canvas id="logo-canvas" data-role="none"></canvas>
</div>

<% include drawLogo %>

<% include layoutBottom %>