<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>我的推荐</title>
    <style>
        img {
	        max-width :80%;
	        display:block;
            margin-bottom:30px;
        }

        button {
                display: inline-block;
                padding: 6px 12px;
                margin-bottom: 5px;
                font-size: 21px;
                font-weight: normal;
                line-height: 1.9;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                cursor: pointer;
                background-image: none;
                border: 1px solid transparent;
                border-radius: 10px;
                color: #FFFFFF;
                width : 90%;
                background-color : #0079FF;
        }

    </style>
</head>
<body style =" font-family: 'Segoe UI', sans-serif;">
    <h1 style ="text-align:center;color: #0079FF">扫一扫</h1>
    <div id="content">
        <center>
            <img src =<%=qrCodeurl%>>
            <button onclick ="window.location.href = '/share/?sceneID=1000000001'"><b>查看返券规则</b></button>
            <button onclick ="window.location.href = '/share'"><b>分享到朋友圈</b></button>
        </center>
    </div>
</body>
</html>