<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>买酒首选 安徽1919</title>
    <style>
        img {
	        max-width :100%;
	        display:block;
            margin-bottom:30px;
        }

        button {
                display: inline-block;
                padding: 6px 12px;
                margin-bottom: 5px;
                font-size: 21px;
                font-weight: normal;
                line-height: 1.9;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                cursor: pointer;
                background-image: none;
                border: 1px solid transparent;
                border-radius: 10px;
                color: #FFFFFF;
                width : 100%;
                background-color : #0079FF;
        }

    </style>
</head>
<body style =" font-family: 'Segoe UI', sans-serif;">
    <h3 style ="text-align:center;color: #0079FF">好喝又划算的酒 推荐给朋友</h3>
    <div id="content">
        <center>
            <img src = "/images/rule.png"/>
        </center>

<!--         <p>推荐你买过好喝又划算的酒给朋友，不仅让朋友觉得实惠，更是让你获得我们发放的收益。
            推荐给你的十个朋友小红，如果十个小红消费了，您将从我们这获得十个人消费3%的推荐佣金，
            当然十个小红可以再推荐给他的一百个朋友小明，如果一百个小明消费，您将获得一百人消费2%的推荐佣金，
            一百个小明更可以推荐给他们一千个朋友小张，一千个小张消费，您还将获得一千人消费1%的推荐佣金，以此类推，佣金赚不停。
        </p>
        <p>
            例如十个小红、一百个个小明、一千个小张各消费100元，您将获得我们发放的佣金：10*100*3%+100*100*2%+1000*100*1%=1230元    
        </p> -->
<!--         <dl>
            <dt><b>酒的来源，为什么要买我们的酒？</b></dt>
            <dd>我们的酒由阜阳最大经销商提供，买我们的酒，安全；省去中间商的利润，买我们的酒，实惠；专人快速送酒，买我们的酒，便捷。</dd>
            <dt><b>佣金哪里来，可以提现吗？</b></dt>
            <dd>由我们发放，我们放弃了广告宣传，而将这一部分预算发放了佣金。当然，佣金可以提现至您的银行卡。</dd>
            <dt><b>推荐给朋友之后，他也可以像我一样推荐获得推荐佣金吗？</b></dt>
            <dd>当然可以，他也可以再次推荐，和你一样，推广越多，佣金越多，考验你的朋友圈。</dd>
        </dl> -->
        <center><button onclick ="window.location.href = '/promote'">返回扫码</button></center>
     </div>
</body>
</html>