<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>今年最in的喝酒方式，微信定酒，送货上门，价格更低，还能拿佣金</title>
    <style>
        img {
	        max-width :100%;
	        display:block;
            margin-bottom:30px;
        }

        button {
                display: inline-block;
                padding: 6px 12px;
                margin-bottom: 5px;
                font-size: 21px;
                font-weight: normal;
                line-height: 1.9;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                cursor: pointer;
                background-image: none;
                border: 1px solid transparent;
                border-radius: 10px;
                color: #FFFFFF;
                width : 100%;
                background-color : #0079FF;
        }

    </style>
</head>
<body style =" font-family: 'Segoe UI', sans-serif;">
    <h3 style ="text-align:center;color: #0079FF">今年最in的喝酒方式</h3>
    <div id="content">
        <center>
            <img src = "/images/intro1.jpg"/>
        </center>
        <p>号外！号外！微信平台可以直接下单订酒啦</p>
        <p>微信上直接下单，同城配送，免费上门</p>
        <p>减少了中间渠道成本，你能够以远低于市场的价格买到最纯正的酒。阜阳人最爱喝什么酒，当然口子窖。口子窖全系优惠，不信你试试？</p>
        <center><button onclick ="window.location.href = '/followus'">抢鲜体验</button></center>
     </div>
</body>
</html>