<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>【买酒首选 : 安徽1919】</title>
    <style>
        img {
	        max-width :80%;
	        display:block;
            margin-bottom:30px;
        }

        button {
                display: inline-block;
                padding: 6px 12px;
                margin-bottom: 5px;
                font-size: 21px;
                font-weight: normal;
                line-height: 1.9;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                cursor: pointer;
                background-image: none;
                border: 1px solid transparent;
                border-radius: 10px;
                color: #FFFFFF;
                width : 90%;
                background-color : #0079FF;
        }

    </style>
</head>
<body style =" font-family: 'Segoe UI', sans-serif;">
    <h2 style ="text-align:center;color: #0079FF">【安徽1919】一瓶酒省50元</h2>
    <div id="content">
        <center>
            <img src = "/images/intro1.jpg"/>
        </center>
        <dl>
            <dt><b>安徽1919 : </b></dt>
            <dd>安徽1919是.............我们追求两点：
                <ul>
                    <li> 绕开所有经销商，保证消费者享受最低价 </li>
                    <li> 同城配送，好酒分分钟送到家门口</li>
                </ul>
           </dd>
        </dl>
        <center>
            <img src = "/images/intro2.jpg"/>
        </center>
        <p>想象一下，叫上几个老伙计一起喝酒炸雷子，伙计们还没到，酒早已经到了。更重要的是，你喝的酒最纯，最实惠。如果您满意我们的服务，把我们推荐给小伙伴们，还能有更多的惊喜！</p>
        <!-- <center><button onclick ="window.location.href = '/promote'">关注我们</button></center> -->
     </div>
</body>
</html>